# SPDX-License-Identifier: GPL-3.0-or-later
# See docs/CODESTYLE.md. clang-format is the formatting arbiter.
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
IndentCaseLabels: true
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
SpaceAfterCStyleCast: false
SortIncludes: false
